{% extends 'shared/base.html' %}

{% block content %}

  <section id="computer-details">
        <h1>{{ computer.make }} {{ computer.model }}</h1>

        <div>date purchased {{ computer.purchase_date }}</div>
        {% if computer.decommission_date %}
            <div>decommissoned date: {{ computer.decommission_date }}</div>
        {% endif %}
            {% if employees %}
            {% for employee in employees%}
            <div> current assigned employee: {{ employee.first_name }} {{ employee.last_name }} </div>
            {% endfor %}
            {% endif %}

    </section>

    <section id="computer-actions" style="display:flex;">
        <form action="{% url 'hrapp:computer' computer.id %}" method="POST">
            {% csrf_token %}
                {% if employees %}
                    <input type="hidden" name="actual_method" value="PUT">
                    <button>Decommission</button>
                {% elif computer.decommission_date %}

                {% else %}
                    <input type="hidden" name="actual_method" value="DELETE">
                    <button>Delete</button>
                {% endif %}



        </form>

        {% comment %} <form action="{% url 'libraryapp:book_edit_form' book.id %}" method="GET">
            {% csrf_token %}
            <button>Edit</button>
        </form>
    </section> {% endcomment %}

{% endblock %}