{% extends 'shared/base.html' %}
{% block content %}
<h1>Inventory Book</h1>

<form action="{% url 'hrapp:employee_list' %}" method="post">
  {% csrf_token %}
  {% comment %} {% if book.id is not None %}
  <input type="hidden" name="book_id" value="{{ book.id }}" />
  {% endif %} {% endcomment %}
  <fieldset>
      <label for="first_name">First Name: </label>
      <input id="first_name" type="text" name="first_name" {% comment %} value="{{ book.title }}" {% endcomment %}>
  </fieldset>
  <fieldset>
      <label for="last_name">Last Name: </label>
      <input id="last_name" type="text" name="last_name">
  </fieldset>
  <fieldset>
      <label for="supervisor">Supervisor: </label>
      <select id="supervisor" type="text" name="supervisor">
              <option value = "0"{% if employee.is_supervisor == 0 %}selected{% endif %}>No</option>
              <option value = "1" {% if employee.is_supervisor == 1 %}selected{% endif %}>Yes</option>
      </select>
  </fieldset>
  <fieldset>
      <label for="department">Department: </label>
      <select id="department" type="text" name="department">
            {% for department in departments %}
                <option {% if department.id == employee.department_id_id %}selected{% endif %}>{{ department.dept_name }}</option>
            {% endfor %}
      </select>
  </fieldset>

  {% comment %} {% if book.id is not None %}
  <input type="submit" name="actual_method" value="Add It" />
  {% else %} {% endcomment %}
  <input type="submit" value="Add It" />
  {% comment %} {% endif %} {% endcomment %}
</form>
{% endblock %}