{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Library</title>
  </head>
  <body>
    <h1>{{ Program.title }}</h1>

    <div>Start Date: {{ Program.start_date }}</div>
    <div>End Date: {{ Program.end_date }}</div>
    <div>Capacity: {{ Program.capacity }}</div>
    <div>Attending Employees:</div>
    <ol>
    {% for employee in Employees %}
        <li>
            {{ employee.first_name }} {{ employee.last_name }}
        </li>
    {% endfor %}
    </ol>
    <form action="{% url 'hrapp:program' Program.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="EDIT">
        <button>Edit</button>
    </form>
    <form action="{% url 'hrapp:program' Program.id %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="actual_method" value="DELETE">
        <button>Delete</button>
    </form>
  </body>
</html>